<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>This is Australia page</h1>
        <h1><a href="{% url 'canada' %}" target="_blank">Go to Canada page</a></h1>
        <h1><a href="{% url 'usa:europe' %}" target="_blank">Go to europe page</a></h1>
        <h1><a href="{% url 'uk:swan' %}" target="_blank">Go to swan page</a></h1>


    </center>
</body>
</html>